th,table,td,tr{border:1px solid #ccc;padding:0;margin:0}
.container{width: 70%;margin: 0 auto;}
.data-table{text-align: left;width:100%}
.button{padding:2px;border:1px solid #ccc;text-align:center;color:#000;text-decoration:none}
.form-control{margin:5px}
.form-control label {width: 150px;display:inline-block;font-weight:bold;}
