<div class="container">
	<form name="empForm" method=POST ng-submit="submitData()">
		<div class="form-control">
            <label for="id">Id :</label>
            <input type="text" id="id" ng-model="detail.id" placeholder="Enter id" required/>
		</div>
		<div class="form-control">
            <label for="name">Name :</label>
            <input type="text"  name="name" id="name" ng-model="detail.name" ng-minlength="4" placeholder="Enter name" required/>
			<span style="color:red" ng-show="empForm.name.$error.minlength">Your Name Should Contain Atleast 4 Characters</span>
		</div>
		<div class="form-control">
            <label for="phone">Phone :</label>
            <input type="text" name="phone" id="phone" ng-pattern="/^[0-9]*$/" ng-model="detail.phone" placeholder="Enter phone" required/>
			<span style="color:red" ng-show="empForm.phone.$error.pattern">Not a valid number!</span>
		</div>
		<div class="form-control">
            <label for="city">City :</label>
            <input type="text" id="city" ng-model="detail.address.city" placeholder="Enter city" required/>
		</div>
		<div class="form-control">
            <label for="address1">Address 1:</label>
            <input type="text" id="address1" ng-model="detail.address.address_line1" placeholder="Enter address 1" required/>
		</div>
		<div class="form-control">
            <label for="address2">Address 2:</label>
            <input type="text" id="address2" ng-model="detail.address.address_line2" placeholder="Enter address 2" required/>
		</div>
		<div class="form-control">
            <label for="pin">Postal Code:</label>
            <input type="text" id="pin" ng-model="detail.address.postal_code" placeholder="Enter Postal Code" required/>
		</div>
		<div class="form-control">
            <input type="submit"  ng-disabled="empForm.$invalid" />
		</div>
    </form>
</div>