<div class="container">
		<p>
			<input type="text" ng-model="searchVal">
			<a class="button" href="#/employees/add" title="ADD NEW">ADD NEW</a>
		</p>
		<table class="data-table">
			<tr class="data-row">
				<th>Id</th>
				<th ng-click="sortData('name')">Name</th>
				<th>Phone</th>
				<th ng-click="sortData('address.city')">City</th>
				<th>Address 1</th>
				<th>Address 2</th>
				<th>Postal Code</th>
				<th>Edit</th>
			<tr>
			<tr class="data-row" ng-repeat="emp in employeeData | filter:searchFilter | orderBy:orderByField:reverseSort">
				<td>{{emp.id}}</td>
				<td>{{emp.name}}</td>
				<td>{{emp.phone | checkString }}</td>
				<td>{{emp.address.city}}</td>
				<td>{{emp.address.address_line1}}</td>
				<td>{{emp.address.address_line2}}</td>
				<td>{{emp.address.postal_code}}</td>
				<td><a href="#/employees/{{emp.id}}/edit" title="Edit">Edit</a></td>
			</tr>
		</table>
</div>